<h2 style="color:white;">Registrarse</h2>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-7">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <%= f.input :email, label: 'Ingresa tu email', autofocus: true %>

          <%= f.input :password, label: 'Ingresa tu constraseña', autocomplete: "off" %>
          <% if @validatable %>
            <i>(<%= @minimum_password_length %> characters minimum)</i>
          <% end %>
      
          <%= f.input :password_confirmation, label: 'Confirma tu contraseña', autocomplete: "off" %>

          <%= f.button :submit, "Registrarse", class: "btn btn-info" %>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>