<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-7">
        <%= simple_form_for @movie do |f| %>
            <%= f.input :title, label: 'Nombre de la pelicula:', autofocus: true %>
            <%= f.input :description, label: 'Descripcion:', as: :text %>
            <%= f.input :year, label: 'Año de publicacion:', input_html: { value: '2000' } %>
            <%= f.input :rating, label: 'Rating:', placeholder: 'Ingresa un numero del 1 al 5' %>
            <%= f.input :stock, label: 'Existencia en almacen:' %>
            <%= f.input :image, label: 'Link de imagen' %>
            <%= f.button :submit, "Registrar pelicula", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>