<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
          <img src="<%= @movie.image =%>" class="img-thumbnail" alt="Portada">
        </div>
      </div>
      <div class="col-md-6">
        <h1 class="review_title"><%= @movie.title %></h1>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Titulo:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Descripcion:</strong></td>
                <td><%= @movie.description %></td>
              </tr>
              <tr>
                <td><strong>Año:</strong></td>
                <td><%= @movie.year %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <% @rents = Rent.where(user_id: current_user.id, movie_id: @movie.id) %>
        <% if @rents.count >= 1 %>
          <button type="button" class="btn btn-default disabled btn-block">Ya tienes esta pelicula rentada actualmente</button>
        <% else %>
          <% if @movie.stock == 0 %>
            <button type="button" class="btn btn-default disabled btn-block">Lo sentimos, esta pelicula no esta disponible</button>
          <% else %>
            <form>
              <%= link_to "Rentar", {:controller => "rents", :action => "new", :movie_id => @movie.id}, :class => 'btn btn-danger btn-block' %>
            </form>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>