<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @rent.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @rent.end %>
</p>

<%= link_to 'Edit', edit_rent_path(@rent) %> |
<%= link_to 'Back', rents_path %>
